html, body, button {
    background-color: #3B3F45;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

input {
    margin-left: 1rem;
}

input:invalid {
    border: 4px solid red;
    border-radius: 4px;
}

.field-description {
    display: block;
    font-style: italic;
    margin-top: 0.5rem;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 3rem;
}

form {
    padding: 1rem 1rem 2rem 2rem;
    border: 2px solid #89c4f4;
    border-radius: 4px;
}

p {
    margin-bottom: 1rem;
}

h2 {
    font-style: italic;
}

.advertisement {
    display: block;
    margin: 0 auto;
    height: 20vh;
    margin-bottom: 1rem;
}

/* From https://webaim.org/techniques/css/invisiblecontent/ */
.visually-hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
} 